<!doctype html>
<html>
<head>
<title>Feeeeint!</title>
<link href='static/style.css' rel='stylesheet' />
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class='page'>
		<h1>MovieDir</h1>

		{% for message in get_flashed_messages() %}
		<div class='flash'>{{ message }}</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</div>

</body>
</html>
